/* Universal Styles */

body {
  background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_foodlogo.png");
  text-align: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

/* Navigation */

nav {
  text-align: center;
  padding: 20px;
}

nav img {
  display: block;
  width: 100px;
  /* Top and bottom 0 left and right auto so it going to be in the center */
  margin: 0 auto;
  padding-bottom: 25px;
}

nav span {
  display: block;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 10px 0;
  display: inline;
}

nav span:hover {
  color: #0078aa;
  font-weight: 600;
}
nav a {
  color: #666666;
}

/* Content Container */

.content {
  width: 100%;
  height: 500px;
  margin: 10px auto;
  /* for 500px of height some content will be overflow to the parent so I make it scrollable */
  overflow: scroll;
}

/* Content Header */

.header {
  background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_burgerphoto.jpeg");
  background-position: center;
  background-size: cover;
  height: 320px;
}

.header h1 {
  background-color: #05a8aa;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  width: 68%;
  padding: 20px;
  margin: 0 auto;
}

/* Content Body */

.content .body {
  width: 90%;
  margin: 0 auto;
}

.body p {
  color: #898aa6;
  font-weight: 100;
  line-height: 34px;
  width: 90%;
  margin-top: 18px;
  font-size: 1.2rem;
}

/* Content Button */

.button {
  border-radius: 4px;
  color: #05a8aa;
  display: block;
  font-weight: 700;
  width: 200px;
  padding: 20px;
  margin: 40px auto;
  border: 1px solid #0078aa;
}

.button:hover {
  background-color: #05a8aa;
  border: 1px solid #05a8aa;
  color: #fff;
}

/* Content Nutrition */

ul.nutrition {
  padding: 20px;
}

ul.nutrition li {
  display: inline-block;
  background-color: #05a8aa;
  list-style: none;
  width: 200px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin: 10px;
}

.nutrition .category {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  display: block;
  padding: 10px 20px;
  margin: 3px;
}

.nutrition .value {
  color: white;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
}
