body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: default;
}
.header-section {
  display: inline-flex;
  justify-content: space-between;
  background-color: grey;
  width: 100%;
}

.nav-section {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

li {
  display: inline;
  margin: 0 80px;
}
