/* Universal style */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: 600;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

@media only screen and (max-width: 990px) {
  html {
    font-size: 14px;
  }
}

/* Header */
header {
  display: flex;
  align-items: center;
  background-color: #dae2b6;
  padding: 0.5rem 3.75rem;
}
header li {
  display: inline-block;
  position: relative;
  width: 200px;
  left: 80px;
  bottom: 10px;
  color: #ffff;
  font-weight: 600;
  top: 1px;
}

header img {
  height: 60px;
}
