body {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  font-family: "Roboto Mono", monospace;
  background-color: #e7f6f2;
}

table {
  margin: 0 auto;
  border: 1px solid black;
  table-layout: fixed;
  width: 600px;
  border-collapse: collapse;
  width: 80%;
  text-align: left;
}
th,
td {
  width: 300px;
  border: 1px solid black;
  overflow: hidden;
  width: 70%;
}

footer {
  position: absolute;
  bottom: 0;
  height: 110px;
  width: 100%;
  background-color: #395b64;
  /* border: 5px solid black; */
  padding-top: 30px;
}

.first-col {
  font-family: "monospace";
  background-color: beige;

  margin: 1.2rem;
}
